<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{cliente.nombre}} - {{meta.titulo}}</title>
    <meta name="description" content="{{meta.descripcion}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places,geometry,drawing"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/gpozzo.css">

    <link rel="apple-touch-icon" href="img/favicon-png.png">
    <link rel="icon" href="img/favicon-png.png">
</head>
