$fondo: {{opciones.diseño.navbar.fondo}};
$link: {{opciones.diseño.navbar.texto.link}};
$hover: {{opciones.diseño.navbar.texto.hover}};

.navbar-{{opciones.diseño.navbar.base}} {
  .navbar-nav {
    li {
      a {
        color: $link;
        &:hover {
          color: $hover;
        }
      }
    }
  }

  background-color: $fondo;
  border-color: $fondo;
}