<!doctype html>
<html class="no-js" lang="es">

{% include "./src/html/partials/header.html" %}

<body onload="setStage()" style="padding-bottom:{{ '35' if opciones.footer.mostrar else '0' }}px">
    <nav id="contenedorNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                  <img id="logo-brand" src="img/logo-brand.png" alt="">
              	</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-expanded="false">
                        	Agregar item <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="catList" role="menu"></ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a role="button" onclick="guardar()">Guardar datos</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <input id="pac-input" class="controls" type="text" placeholder="Buscar dirección">
    <div id="map"></div>

    <!-- Footer -->
    {% if opciones.footer.mostrar %}
      {% include "./src/html/partials/footer.html" %}
    {% endif %}
    <!-- Fin Footer -->

    <script type='text/javascript' src="js/gpozzo.js"></script>

    <!-- Analytics -->
    {% if opciones.analytics.mostrar %}
      {% include "./src/html/partials/analytics.html" %}
    {% endif %}
    <!-- Fin Analytics -->
</body>

</html>
