<!doctype html>
<html class="no-js" lang="es">

{% include "./src/html/partials/header.html" %}

<body onload="setStage()" style="padding-bottom:{{ '35' if opciones.footer.mostrar else '0' }}px">
    <nav id="contenedorNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                  <img id="logo-brand" src="img/logo.png" alt="Logo {{cliente.nombre}}">
              	</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  {% if extras.agregable %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        	Agregar item <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="catList" role="menu"></ul>
                    </li>
                  {% endif %}
                  {% if extras.filtrable.mostrar %}
                    <li><a role="button" data-toggle="modal" data-target="#modal-filtros">Filtrar</a></li>
                    {% if extras.filtrable.exportar %}
                    <li><a role="button" data-toggle="modal" onclick="exportar()">Exportar</a></li>
                    {% endif %}
                  {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {% if extras.agregable %}
                    <li><a role="button" onclick="guardar()">Guardar datos</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <input id="pac-input" class="controls" type="text" placeholder="Buscar dirección">
    <div id="map"></div>

    <script type='text/javascript' src="js/gpozzo.js"></script>

    {% if extras.filtrable.mostrar %}
      <!-- Filtrable -->
      {% include "./src/html/partials/filtros.html" %}
      <!-- Fin Filtrable -->
    {% endif %}

    {% if opciones.analytics.mostrar %}
      <!-- Analytics -->
      {% include "./src/html/partials/analytics.html" %}
      <!-- Fin Analytics -->
    {% endif %}

</body>

{% if opciones.footer.mostrar %}
  <!-- Footer -->
  {% include "./src/html/partials/footer.html" %}
  <!-- Fin Footer -->
{% endif %}

</html>
