#toast-container {
  margin-top: 50px;
  margin-right: 35px;
  z-index: 900;

  .toast {
    opacity: 1 !important;
  }

  .toast {
    background-color: $brand-primary;
  }

  .toast-success {
    background-color: $brand-success;
  }

  .toast-error {
    background-color: $brand-danger;
  }

  .toast-info {
    background-color: $brand-info;
  }

  .toast-warning {
    background-color: $brand-warning;
  }
}

.toast-top-left {
  top: 55px !important;
}
